<!DOCTYPE html>
<html>
<head>
	<title>Sinatra Blog</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

<h1 class="main-heading">My First Sinatra Blog</h1>

<%= yield %>

</body>
</html>